<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324772752142-t8s9uo3oovkk68v2vitagpi1gjme851j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324772752142-t8s9uo3oovkk68v2vitagpi1gjme851j</string>
	<key>API_KEY</key>
	<string>AIzaSyAlkvTtf6649S5_BuDp1AfOuCVc21oqRz4</string>
	<key>GCM_SENDER_ID</key>
	<string>324772752142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.perubeca.app.dev</string>
	<key>PROJECT_ID</key>
	<string>peru-beca-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>peru-beca-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324772752142:ios:c664f3e503a847468c455f</string>
</dict>
</plist>